spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/lumina_optics?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    driver-class-name: ${DB_DRIVER_CLASS_NAME:com.mysql.cj.jdbc.Driver}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO:update}
  flyway:
    enabled: true

app:
  jwt:
    secret: ${APP_JWT_SECRET}
    expiration-millis: ${APP_JWT_EXPIRATION_MILLIS:86400000}
